@model BookStore.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutFreecss.cshtml";
}


@*<form class="form_contant" action="@Url.Action("Register","Authentication")" method="post">
        <fieldset class="row">
            <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input class="field_custom" placeholder="HoTen *" type="text" name="HoTen" required>
            </div>
            <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input class="field_custom" placeholder="SDT *" type="text" name="SDT" required>
            </div>
            <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input class="field_custom" placeholder="Email *" type="text" name="Email" required>
            </div>
            <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input class="field_custom" placeholder="Password *" type="password" name="Password" required>
            </div>
            <div class="center">
                <button class="btn main_bt" type="submit">Register NOW</button>
            </div>
            <br />
            <div class="center">
                <a href="@Url.Action("Login","Authentication")">Back To Login...</a>
            </div>
        </fieldset>
    </form>*@

<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4 ">
                            <div class="form-horizontal">
                                <h4>Register</h4>
                                @using (Html.BeginForm("Register", "Authentication", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()


                                    <div class="form-group  form-control-user ">

                                        @Html.LabelFor(m => m.HoTen)
                                        @Html.TextBoxFor(m => m.HoTen, new { style = "width:100%" })
                                        @Html.ValidationMessageFor(m => m.HoTen)
                                    </div>

                                    <div class="form-group  form-control-user ">

                                        @Html.LabelFor(m => m.Age)
                                        @Html.TextBoxFor(m => m.Age, new { style = "width:100%" })
                                        @Html.ValidationMessageFor(m => m.Age)
                                    </div>

                                    <div class="form-group  form-control-user ">

                                        @Html.LabelFor(m => m.Email)
                                        @Html.TextBoxFor(m => m.Email, new { style = "width:100%" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                        @ViewBag.error
                                    </div>
                                    @*<div class="form-group  form-control-user ">

                @Html.LabelFor(m => m.SDT)
                @Html.TextBoxFor(m => m.SDT, new { style = "width:100%" })
                @Html.ValidationMessageFor(m => m.SDT)
            </div>*@
                                    <div class="form-group  form-control-user ">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { style = "width:100%" })
                                        @Html.ValidationMessageFor(m => m.Password)

                                    </div>
                                    @*<div class="form-group  form-control-user ">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { style = "width:100%" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)

            </div>*@
                                    <input class="btn btn-primary" type="submit" value="Register" />
                                    <a class="btn btn-primary" href="@Url.Action("Login","Authentication")">Login</a>

                                }
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

